@charset "UTF-8";
/*ztree样式*/
ul.ztree{
	margin-top: 0px;
	height: 410px;
	width:230px;
	overflow-y:scroll;
	border: 1px silver solid;
	text-align: center;
}
.container{
		width: 98%;
}
/*添加自定义zTree图标*/
.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
}
/*第一行*/
.panel-default>.panel-heading{
	background-color: #CD2626;
	color: #fff;
	font-size: 20px;
}
/*label字体*/
 .col-sm-2{
	font-size: 18px;
	font-weight: bold;
}
/*按钮组*/
.btn-group{
	padding-top: 32px;
}
/*角色选择*/
.list-group-item{
	text-align: center;
	cursor: pointer;
}
.list-group-item.active{
	background-color: #CD2626;
}
.roles
{
	border: 1.5px solid #eee;
	height: 165px;
	overflow-y: scroll;
}
.roles li {
		list-style: none;
}
.roles ul{
	padding: 12px;
	padding-top: 2px;
}
.list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    margin-bottom: 5px;
    font-size: 15px;
}
/*保存/取消按钮*/
.modal-footer{
	text-align: center;
}
#btn_save{
	background-color: #CD2626;
	color: #fff;
}